.picker-header-container {
  height: 45px;
  display: flex;
  align-items: center;
}
.prev-btn {
  padding: 5px;
  height: 29px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-btn {
  padding: 5px;
  height: 29px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.month-select {
  margin: auto;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-select {
  margin: auto;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
