.daybutton {
  background: none;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
}

.daynormal {
  border: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.daynormal:hover {
  background-color: #d7d7d7;
}

.daydiasbled {
  background-color: #d7d7d7;
}

.dayselected {
  border: none;
  background-color: #2563eb;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.today {
  border: none;
  background: #eff6ff;
  color: #2563eb;
  font-weight: 500;
  font-size: 16px;
}
